*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    display:flex;
    justify-content:space-around;
    background-color: #424141;
    color: white;
    padding: 12px;
}

/* .menus{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 17px;
    padding: 5px;
    font-size: 17px;
}
.logo{
    padding: 5px;
    width: 100px;
    color: rgb(219, 226, 232);
} */