*{
    margin:0px;
    padding:0px
}
 .menu-container{
    display: flex;
    background-color: rgb(45, 39, 39);
    color: aliceblue;
    justify-content: space-around;
    padding: 12px;
}

/* .menus{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 17px;
    padding: 5px;
    font-size: 17px;
}
.logo{
    padding: 5px;
    width: 100px;
    color: rgb(219, 226, 232);
}  */

.logo{
     width: 100px;
     padding: 5px;
}
.menus{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 17px;
    padding: 5px;
}